<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- The volume used for text to speech. Must be int from 0 to 100, inclusive-->
    <add key="SpeakVolume" value="20"/>
    
    <!--We randomize when a fact is spoken. Set your range here-->
    <!--Setting them to the same will get you exact timing-->
    <!--Setting max lower than min means we swap the values internally-->
    <add key="MinWaitSeconds" value="60"/>
    <add key="MaxWaitSeconds" value="600"/>
    
    <!--What to say on service start-->
    <add key="Greeting" value="Should have locked your computer. Fool!"/>
  </appSettings>
</configuration>